.banner{
    width: 100%;
}

.banner > a > img{
    width: 100%;
    height: 300px;
}
.backgroundimg{
    background-image: url("/assets/Backgroundimg.jpg");
    background-size: cover;
}
.infoimg{
    text-align: center;
}
.sectiontitle{
    text-align: center;
}
.core-wrapper{
    background-color: #bdc3c7;
}