<!-- Footer -->
<footer class="page-footer font-small bg-dark text-white">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-6 mt-md-5 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">IntelRobotics</h5>
                <p style="height:5px;">&nbsp;</p>
                <p>Vi gør altid vores bedste for vores kunder så de får den bedste mulige service.</p>
                <p>Vi er ikke tilfredse før vores kunder er.</p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <p style="height:10px;">&nbsp;</p>
                <!-- Links -->
                <h5 class="text-uppercase">Sprog</h5>

                <ul class="list-unstyled">
                    <li>
                        <img src="/assets/Danmarkflag.png" alt="Dansk" width="15px" height="15px">
                        <a href="https://intelrobotics.dk" style="color:white"> Dansk</a>
                    </li>
                    <li>
                        <img src="/assets/Japanflag.png" alt="Japansk" width="15px" height="15px">
                        <a href="https://intelrobotics.jp" style="color:white"> Japansk</a>
                    </li>
                    <li>
                        <img src="/assets/Canadaflag.png" alt="Canada" width="15px" height="15px">
                        <a href="https://intelrobotics.com" style="color:white"> Engelsk</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">
                <p style="height:10px;">&nbsp;</p>
                <!-- Links -->
                <h5 class="text-uppercase">Social Medier</h5>

                <ul class="list-unstyled">
                    <li>
                        <a href="https://facebook.com" style="color:white"><i class="fab fa-facebook-square"></i> Facebook</a>
                    </li>
                    <li>
                        <a href="https://instagram.com" style="color:white"><i class="fab fa-instagram"></i> Instagram</a>
                    </li>
                    <li>
                        <a href="https://linkedin.com" style="color:white"><i class="fab fa-linkedin"></i> Linkedin</a>
                    </li>
                    <li>
                        <a href="https://twitter.com" style="color:white"><i class="fab fa-twitter"></i> Twitter</a>
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2019 Copyright:
        <a href="https://intelrobotics.dk"> IntelRobotics</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->